/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.class-1{
color: aqua;
}
.class-1{
background: #000;
}
.class-1{
color: aqua;
}
/* Textures or Patterns*/


/* Imagery */


/* Icons */


/* Typography */


/* Forms */


/* Tables */


/* Cards */