/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1 {
background-color: red;
}
.color-2 {
background-color: aqua;
}
.color-3 {
background-color: green;
}
/* Textures or Patterns*/

.pattern-1{
background: url(../img/dots.png);
}
.pattern-2{
background: url(../img/stardust.png);
}
.pattern-3{
background: url(../img/texture.png)
}
/* Imagery */


/* Icons */


/* Typography */


/* Forms */


/* Tables */


/* Cards */